@media screen and (min-width: 424px) {
    img {
        height: 14em;
    }

    h1 {
        font-size: 1.7em;
    }
    
    h1.price {
        font-size: 1.8em;
    }
    
}



@media screen and (min-width: 768px){
    main {
        display: flex;
        flex-flow: column wrap;
        width: 60vw;
        height: 62.2vh;
    }

    img {
        height: 22.1em;
        width: 15em;
        border-radius: 1em 0em 0em 1em;
    }

    h1 {
        font-size: 1.4em;
        margin-right: 14em;
    }

    p {
        margin-top: .7em;
        margin-right: 21em;
        font-size: .8em;
    }

    div.valor > h1.price, p.sale {
        display: inline-block;
        margin-top: 2em;
        margin: .4em;
        margin-left: .7em;
    }

    a.cart {
        margin-top: .5em;
        margin-left: 2em;
        width: 22vw;
        height: 3.5em;
    }

    .attribution {
        margin-left: -29em;
        margin-bottom: .5em;
        font-size: .5em;
    }

}

@media screen and (min-width: 992px){
    main {
        width: 47vw;
        height: 57vh;
    }

    img {
        height: 57vh;
    }

    h1 {
        padding-left: .3em;
    }

    p.per {
        margin-top: 1em;
        padding-left: .5em;
    }

    p {
        margin-top: .2em;
        padding-left: .5em;
    }

    a.cart {
        margin-left: .7em;
    }

    .attribution {
        font-size: .6rem!important;
        margin-left: -25em;
    }
}

@media screen and (min-width: 1200px) {
    main {
        width: 42vw;
    }

    p {
        margin-right: 22em;
        margin-top: 1em;
    }

    div.valor {
        margin-top: 1.7em;
    }

    a.cart {
        width: 18vw;
        margin-left: 3.2em;
    }

    .attribution {
        font-size: .7em!important;
        margin-left: -22em;
    }
}