@media screen and (min-width: 768px){
    main {
        display: flex;
        flex-flow: column wrap;
        width: 60vw;
        height: 53vh;
    }

    img {
        height: 22.1em;
        width: 15em;
        border-radius: 1em 0em 0em 1em;
    }

    h1 {
        font-size: 1.4em;
        margin-right: 14em;
    }

    p {
        margin-top: .7em;
        margin-right: 21em;
        font-size: .8em;
    }

    div.valor > h1.price, p.sale {
        display: inline;
        margin: .4em;
        margin-left: .7em;
    }

    a.cart {
        margin-top: 1.5em;
        margin-left: 2em;
        width: 22vw;
        height: 3.5em;
    }

    .attribution {
        margin-left: -29.5em;
        margin-bottom: .5em;
        font-size: .5em;
    }

}

@media screen and (min-width: 992px){
    main {
        width: 47vw;
    }

    a.cart {
        margin-left: .6em;
    }
}